body {
  padding: 1em 4em;
}

h1 {
  font-family: Arial;
  color: black;
  background-color: white;
  padding: 0.5em;
  border-bottom: solid #21B7E3;
}

pre {
  font-size: 1.5em;
}

img {
	padding-right: .5em;
}

thead {
	background-color: #C7C5C5;
}

table {
	padding-top: 2em;
}


#edit {
  text-align: center;
}